.bannerMedia{
  position: relative;
  right: 45px;
  bottom: 50px;
}

mat-card{
  position: relative;
  bottom: 40px;
  right: 60px;
  background-color: rgb(190, 148, 131);
}

.card-2, .card-3{
  position: relative;
  left: 320px;
  bottom: 270px;
}
 .card-3{
  position: relative;
  left: 700px;
  bottom: 500px;
}

.row-2{
  position: relative;
  bottom: 930px;

}
