<h1>Dashboard</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
      <app-widget-area></app-widget-area>

    </div>
</div>

<div  fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <mat-card class="card" fxFlex="25">
    <p>Um Card</p>
    <app-widget-area></app-widget-area>

  </mat-card>
  <mat-card class="card" fxFlex="25">
    <p>Um Card</p>
    <app-widget-area></app-widget-area>

  </mat-card>
  <mat-card class="card" fxFlex="25">
    <p>Um Card</p>
    <app-widget-area></app-widget-area>

  </mat-card>
</div>
