
<mat-grid-list cols="2" rowHeight="500px">
  <img class="bannerbolos" [src]=" bannerHome " alt="banner home"
  height="500px" width="1343px">

</mat-grid-list>
  <div class="content">
  <div class="content-carrossel">
    <mat-grid-list cols="4" rowHeight="200px">
      <app-carrossel  ></app-carrossel>

    </mat-grid-list>
  </div>

<a href="#">
  <mat-card  >
    <h2>Dicas</h2>
    <p>Dicas</p>
  </mat-card>
</a>
<a href="#">
<mat-card>
  <h2>Receitas</h2>
  <p>Receitas</p>

</mat-card>
</a>
</div>


