
.bannercadastro{
    position: relative;
    bottom: 53px;
    right: 60px;
  }


  .container-fluid{
    position: relative;
    left: 350px;
    bottom: 450px;
  }

  .card_form_cadpf{
    position: relative;
    top: 100px;
    background-color: #B39DDB;
    border-radius: 30px;
    border: 2px solid grey;
  }



  .mat-button{
    background-color: #93d1f4;
    margin: 2px;
    border-radius: 10px;
    width: 100px;
    font-family: segoe script;
    font-size: 11px;
    font-weight: bold;
    color: white;

  }

  .btnVoltar{
   background-color: #4E342E;
   width: 100px;
  font-family: segoe script;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  height: 23px;
  font-size: 11px;
  height: 36px;
  }
